@charset "UTF-8";
a{
	display: block;
}
#father{
	position: relative;
	overflow: hidden;
	width:800px;
	box-shadow: 0 0 10px #000;
	margin:50px auto;
}
#img-box{
	height:450px;
	width:4000px;
}
.btn-box{
	position: absolute;
	top:0;
	bottom:0;
	height:55px;
	width:100%;
	margin: auto 0;
}
#right-btn{
	margin-left: 690px;
}
.select-card{
	position: absolute;
	bottom:20%;
	left:38%;
	height:25px;
}
.select-card > a{
	height:25px;
	width: 25px;
	line-height: 25px;
	background-color: #ccc;
	color:white;
	text-align: center;
	margin:0 10px;
	border-radius: 50%;
}