@charset "UTF-8";
/* 重置样式 */
body,p,ul,dl,dt,dd,li,h1,h2,h3,h4,input{margin:0;padding:0;}
li{list-style: none;}
body{font:14px/1.5 'Microsoft yahei';color:#333;}
a{text-decoration:none;color:inherit;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;font-size:100%;}
i,em{font-style:normal;}
input{outline:none;border:0;background-color:transparent;}
img{vertical-align:top;}

/* 通用样式 */
/* 浮动 S */
.fl,
.fl_child > *{float: left;}
.fr,
.fr_child > *{float: right;}

.fr_child::after,
.fl_child::after,
.clearFix::after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.fr_child,
.fl_child,
.clearFix{
	*zoom:1;
}

/* 定位 */
.p-relative,.p-relative{position: relative;}
.p-absolute{position: absolute;}

/* 块级特性 */
.d-block{display: block;}
.d-none{display:none;}

/* 文本处理 */
.t_ellipsis{
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.t_center{
	text-align:center;
}
/* 图片处理 */
.img_cover img{
	width:100%;
	height:100%;
}

/*辅助*/
.bd{border: 1px solid red;}
.red{background-color: red;}
.blue{background-color: blue;}
.green{background-color: green;}
.black{background-color: black;}
.pink{background-color: pink;}

/* 居中属性 */
.w1000{
	width: 1000px;
	margin:0 auto;
}
.container{
	width:100%;
	min-width: 1000px;/* 最小宽度 */
}
/* */
