<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a02_activelifecycle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.02ActiveLifeCycle">
        <activity android:name=".NormalActive" android:label="NormalActive"/>
        <activity
            android:label="Dialog"
            android:name=".DialogActive"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MainActivity"
            android:label="LifeCycle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>